ConnectionStrings__DefaultConnection=Server=sqlserver;Database=school-guardian;User Id={user};Password={password};TrustServerCertificate=True

Kafka__BootstrapServers=kafka:9092

Services__UserManagement__BaseUrl=http://ms-user-management:8080
Services__Route__BaseUrl=http://ms-route:8080
